spring:
  application:
    name: property-app

jwt:
  expiration: 900000        # 15 minutes
  refresh-expiration: 604800000  # 7 days

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always